.home-page {
    flex-grow: 1;
    align-items: flex-end;
    min-height: 0;
    overflow: auto;

    .home-page__search-bar-container {
        flex-grow: 1;
        justify-content: end;
        align-items: flex-start;
        padding: 1.5rem;
        row-gap: 2rem;
        align-self: center;

        h1 {
            font-weight: 500;
            font-size: 3rem;
            text-align: start;

            span {
                color: #1966d3;
            }
        }

        .search-bar {
            align-items: center;
            height: 5.5rem;
            border: 0.125rem solid #e9e8ec;
            border-radius: 0.75rem;
            padding: 1.5rem;
            box-shadow: 0px 0px 2rem 0.0625rem rgba(0, 0, 0, 0.10);
            column-gap: 0.375rem;

            .search-bar__item {
                height: 100%;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;

                input {
                    border: none;
                    background-color: transparent;
                }

                input:focus {
                    outline: unset;
                }

            }

            .location-item {
                min-width: 12rem;
                color: #4e4e4e;
            }

            .search-area {
                display: flex;
                flex-direction: row;
                column-gap: 0.2rem;
                color: #4e4e4e;

                input {
                    font-size: medium;
                }
            }

            .find-jobs-button {
                white-space: nowrap;
                padding: 1rem 2rem;
                border-radius: 0.375rem;
                width: 100%;
            }
        }
    }

    .home-page__images-container {
        display: flex;
        align-items: end;
        width: auto;
        position: relative;
        flex-grow: 1;
        justify-content: center;

        .work-img {
            position: absolute;
            left: 4.5%;
            top: 4.5%;
        }

        .agency-img {
            position: absolute;
            right: 9%;
            top: 47%;
        }
    }

    @media (max-width:1240px) {
        .home-page__images-container {
            display: none;
        }
    }

    @media (max-width:640px) {
        .home-page__search-bar-container {
            justify-content: center;
            align-items: center;

            h1 {
                text-align: center;
            }
        }

        .search-bar {
            display: flex;
            flex-direction: column;
            height: unset !important;
            justify-content: space-between;
            row-gap: 2rem;

            hr {
                width: 100%;
                height: 0.0625rem;
                border-bottom: 1px solid;
            }
        }
    }
}