* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  background-color: #f1f4fc;
}

App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button--color-deep-blue {
  color: white !important;
  background-color: #1966d3 !important;
}

.button--color-light-blue {
  color: #4173aa !important;
  background-color: #e6eefc !important;
}

.img-container {
  width: 100%;
  height: 100%;
  display: contents;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}