.MuiDialog-container {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    padding: 2rem;
    padding-top: 4rem;

    .MuiPaper-root {
        box-shadow: unset !important;
        margin: unset !important;
    }

    .MuiDialogContent-root {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }
}

.language-button {

    .language-button__content {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
}